.waviy {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.waviy-word {
  display: flex;
  white-space: nowrap;
}

.waviy span {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  color: #a78bfa; 
  text-shadow: 0 2px 4px rgba(0,0,0,0.8);
  animation: flip 8s infinite;
  animation-delay: calc(.4s * var(--i));
  transition: transform 0.3s;
}

@keyframes flip {
  0%, 80% {
    transform: rotateY(360deg);
  }
}
